<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Confirma conta - Sirius</title>
    <!-- ICONES -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/logo/logo_sirius.png">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- ESTILO DA PAGINA -->
    <link rel="stylesheet" href="../static/css/style1.css" />
</head>
<body>

    <div class="confirma-conta"> 
        <h2>Confirmar Conta</h2>
        <p>Insira o código que enviamos para seu email</p>
        <form id="confirmForm">
        <div class="input-group">
            <i class='bx bx-lock-alt'></i>
            <label for="codigo">Código de Confirmação:</label>
            <input type="text" id="codigo" name="codigo" placeholder="Digite o código" required>
            </div>
        <button type="submit">Confirmar Conta</button>
        </form>

        <div class="links">

            <!-- PARA PODER RECEBER OUTRO CODIGO -->
            <p>
                Não recebeu o código? 
                <a href="#" id="reenviar-codigo">Reenviar código</a>
                <span id="contador-tempo" style="display:none; margin-left: 5px; color: var(--texto-secundario);"></span>
            </p>

            <!-- CASO TENHA CONFIRMADO A CONTA OU JA TEM OUTRA CONTA -->
            <p>
                Confirmou a conta ou tem outra conta? 
                <a href="/" >Login</a>
            </p>

        </div>
    </div>

    <!-- SCRIPT -->
    <script src="../static/js/confirmar_conta1.js"></script>

</body>
</html>