<!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITULO DA PAGINA -->
    <title>Seguindo</title>
    <!-- ICONES -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/logo/logo_sirius.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/logo/logo_sirius.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/logo/logo_sirius.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/logo/logo_sirius.png">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../static/css/sweealert2.css">
    <!-- STYLES -->
    <link rel="stylesheet" href="../static/css/principal.css">
    <link rel="stylesheet" href="../static/css/post.css">
    <link rel="stylesheet" href="../static/css/modais.css">
    <!-- CSS DO BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <!-- BIBLIOTECAS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- CAROUSEL CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body class="{{ tema }}">

    <!-- CABEÇALHO MOBILE -->    
    <div class="pesquisa-para-mobile">
        <form action="/pesquisar-seguindo" method="GET">
            <div class="form-input">
                <input type="search" name="query" placeholder="Procurar..." required>
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
        </form>
        <div class="logo" id="logo-no-mobile">
            <i class='bx bxs-dog'></i>
        </div>
    </div>

<!-- CABEÇALHO DESKTOP -->
<header class="header">
    <div class="logoSearch">
        <div class="logo" id="logo" style="width: 60px;">
            <i class='bx bxs-dog'></i>
        </div>
        <form action="/pesquisar-seguindo" method="GET">
            <div class="form-input" id="pesquisa-pagina">
                <input type="search" name="query" placeholder="Procurar..." required>
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
        </form>
    </div>

    <!-- OPÇOES NA PARTE INFERIOR DO MOBILE --> 
    <div class="mobile-header-icons">

        <!-- MINHA FOTO -->
        <div class="minha-foto-mobile">
            <a href="/inicio">
                <img src="{{foto_perfil}}" id="foto-mobile-header" alt="my-photo">
            </a>
        </div>
          
        <!-- EXPLORAR -->
        <a href="/home">
        <div class="opcao-mobile">
            <i class='bx bxs-home'></i>
        </div>
        </a>  
        
        <!-- CHAT -->
        <a href="/chat">
            <div class="opcao-mobile">
                <i class='bx bxs-chat'></i>
            </div>
        </a>

        <!-- VIDEOS -->
        <a href="/post-video">
        <div class="opcao-mobile">
            <i class='bx bxs-videos'></i>
        </div>
        </a>

        <!-- NOTIFICAÇÃO -->
        <a href="/notificacoes">
        <div class="opcao-mobile">
            <i class='bx bxs-bell' ></i>
        </div>
        </a>

        <!-- MENU -->
        <div class="opcao-mobile1">
            <i class='bx bx-menu'></i>
        </div>
    </div>
          
    <!-- OPÇOES DO HEADER -->
    <div class="mainMenu">

        <!-- EXPLORAR -->
        <a href="/home">
             <div class="svg">
                 <i class='bx bxs-home'></i>
             </div>
        </a>

        <!-- SEGUINDO -->
        <a href="/post-seguindo">
            <div class="svg active">
                <i class='bx bxs-user'></i>
            </div>
        </a>

        <!-- VIDEOS -->
        <a href="/post-video">
            <div class="svg">
                <i class='bx bxs-videos'></i>
            </div>
        </a>

        <!-- CURTIDOS -->
        <a href="/post-curtidos">
            <div class="svg">
                <i class='bx bxs-heart'></i>
            </div>
        </a>
    </div>

    <!-- PERFIL -->
    <a href="/inicio">
        <div class="profileTools">
            <div class="profile">
                <div class="img" style="background-image: url('{{foto_perfil}}');"></div>
                <div class="username">Perfil</div>
            </div>
        </a>

        <div class="tools">

            <!-- NOTIFICAÇOES -->
            <a href="/notificacoes">
            <div class="svg">
                <i class='bx bxs-bell'></i>
            </div>
            </a>

            <!-- CHAT -->
            <a href="/chat">
                <div class="svg">
                    <i class='bx bxs-chat'></i>
                </div>
            </a>

            <!-- CONFIGURAÇOES -->
            <a href="/configuracao">
            <div class="svg">
                <i class='bx bxs-cog'></i>
            </div>
            </a>

        </div>
    </div>
</header>

<div class="sidebar-esquerdo">
    <div class="aside-esquerdo-mobile">

        <!-- EXPLORAR -->
        <a href="/home">  
            <div class="globalProfile">
                <i class='bx bxs-home'></i>
                <div class="name">Explorar</div>
            </div>
        </a>

        <!-- SEGUINDO -->
        <a href="/post-seguindo">
            <div class="globalProfile active">
                <i class='bx bxs-user'></i>
                <div class="name-active">Seguindo</div>
            </div>
        </a>
             
        <!-- VIDEOS -->
        <a href="/post-video">
            <div class="globalProfile">
                <i class='bx bxs-videos'></i>
                <div class="name">Videos</div>
            </div>
        </a>

        <!-- CURTIDAS -->
        <a href="/post-curtidos">
            <div class="globalProfile">
                <i class='bx bxs-heart'></i>
                <div class="name">Curtidas</div>
             </div>
            </a>
            
        <!-- PROCURAR USER -->
        <a href="/procurar-user">
            <div class="globalProfile">
                <i class='bx bxs-user-plus'></i>
                <div class="name">Procurar</div>
        </div>
        </a>

        <!-- CHAT -->
        <a href="/chat">
        <div class="globalProfile" style="position:relative;">
            <i class='bx bxs-chat'></i>
            <div class="name">Mensagem</div>
            <span class="badge-nao-vistas" id="badge-chat-notify">0</span>
        </div>
        </a>

        <!-- MEU PERFIL -->
        <a href="/inicio">
            <div class="globalProfile">
                <i class='bx bxs-user'></i>
                <div class="name">Perfil</div>
            </div>
        </a>

        <!-- NOTIFICAÇÃO -->
        <a href="/notificacoes">
            <div class="globalProfile">
                <i class='bx bxs-bell'></i>
                <div class="name">Notificação</div>
                <span class="badge-nao-vistas" id="badge-notificacao-notify" >0</span>
            </div>
         </a>
        
        <!-- CONFIGURAÇÃO -->
        <a href="/configuracao">
            <div class="globalProfile ">
                <i class='bx bxs-cog'></i>
                <div class="name">Configuração</div>
            </div>
        </a>

          <!-- SAIR DA CONTA -->
            <a href="#" id="logout-link">
                <div class="globalProfile">
                    <i class='bx bx-log-out'></i>
                    <div class="name">Sair</div>
                </div>
            </a>
        </div>
    </div>
    
     <!-- ASIDEBAR DIREITO DESKTOP -->
    <div class="sideBarContainer">
        <div class="sidebar left"></div>
        <div class="sidebar right">
            <div class="container borderNone">

                <div class="mainTitle">
                    <h3 class="padding">Meu Perfil</h3>
                </div>
        
                <a href="/inicio">
                    <div class="globalProfile">
                        <div class="globalRoundProfile" style="background-image: url('{{ foto_perfil }}');"></div>
                        <div class="name">{{nome_usuario}}</div>
                    </div>
                </a> 
            </div>

            <div class="container borderNone">
                <div class="mainTitle">
                    <h3 class="padding">Momento</h3>
                </div>

                {% if hashtags_top %}
                    <div class="hashtags-top">
                        {% for hashtag in hashtags_top %}
                            <a href="/pesquisar?query={{ hashtag.nome|urlencode }}" class="hashtag-btn" >
                                <span class="hashtag-nome">
  <span class="hashtag-nome-truncado" title="{{ hashtag.nome }}">{{ hashtag.nome }}</span> - {{ hashtag.total }}
</span>

                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="hashtaginfo">Nenhuma hashtag recente.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- ABRIR O SIDEBAR DIREITO MOBILE -->
    <div class="toggle-sidebar-right" id="toggleSidebarRight">
        <i class='bx bx-chevron-left'></i>
    </div>

    <!-- SIDEBAR DIREITO MOBILE -->
    <div class="aside-direito-mobile" id="asideDireitoMobile">
        <div class="container borderNone">
            <div class="mainTitle sem-linha">
                <h3 class="padding">Meu Perfil</h3>
            </div>
            <a href="/inicio">
                <div class="globalProfile">
                    <div class="globalRoundProfile" style="background-image: url('{{ foto_perfil }}');"></div>
                    <div class="name">{{nome_usuario}}</div>
                </div>
            </a> 
        </div>
        <div class="container borderNone">
            <div class="mainTitle linha-momento">
                <h3 class="padding">Momento</h3>
            </div>
            {% if hashtags_top %}
                <div class="hashtags-top">
                    {% for hashtag in hashtags_top %}
                        <a href="/pesquisar?query={{ hashtag.nome|urlencode }}" class="hashtag-btn hashtag-btn-mob" >
                            <span class="hashtag-nome">{{ hashtag.nome }} - {{ hashtag.total }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="hashtaginfo-2">Nenhuma hashtag recente.</p>
            {% endif %}
        </div>
    </div>

 
<!-- MAIN -->     
<main class="sectionCenter">

    <!-- POSTS -->
    <div id="posts" >
            {% if query %}
                <div class="filtro-pesquisa-centralizado">
                        <form method="get" action="/pesquisar-seguindo">
                            <input type="hidden" name="query" value="{{ query }}">
                           <div class="filtro-tools">
                            <a href="/post-seguindo" class="limpar-pesquisa"><i class='bx bx-trash'></i> Limpar pesquisa</a>
                            <form method="get" action="/pesquisar-seguindo" style="display: flex; gap: 12px;">
                                <input type="hidden" name="query" value="{{ query }}">
                                <div class="filtro-select-container">
                                <i class='bx bx-filter'></i>
                                <select name="filtro" onchange="this.form.submit()">
                                    <option value="mais_recente" {% if filtro == 'mais_recente' %}selected{% endif %}>Recente</option>
                                    <option value="mais_velho" {% if filtro == 'mais_velho' %}selected{% endif %}>Antigo</option>
                                    <option value="mais_curtido" {% if filtro == 'mais_curtido' %}selected{% endif %}>Mais curtido</option>
                                </select>
                                </div>
                                <div class="filtro-select-container">
                                <i class='bx bx-filter'></i>
                                <select name="tipo_conteudo" onchange="this.form.submit()">
                                    <option value="geral" {% if tipo_conteudo == 'geral' %}selected{% endif %}>Geral</option>
                                    <option value="foto" {% if tipo_conteudo == 'foto' %}selected{% endif %}>Fotos</option>
                                    <option value="video" {% if tipo_conteudo == 'video' %}selected{% endif %}>Vídeos</option>
                                </select>
                                </div>
                            </form>
                            </div>
                        </form>
                    </div>
                    <b class="query">Resultados da pesquisa: {{query}}</b>
            {% endif %}

        {% if posts %}
            {% for post in posts %}
                <div class="post" data-post-id="{{ post.id }}">
                    <!-- INFORMACAO DO USER -->
                    <div class="user-info">
                        {% if post.fotos_perfil %}
                            <a href="{% if post.users_id == usuario_id %}/inicio{% else %}{{ url_for('info_user.info_user', id_usuario=post.users_id) }}{% endif %}">
                                <img src="{{ url_for('static', filename=post.fotos_perfil) }}" alt="Foto de perfil" width="50">
                            </a>
                        {% else %}
                            <a href="{% if post.users_id == usuario_id %}/inicio{% else %}{{ url_for('info_user.info_user', id_usuario=post.users_id) }}{% endif %}">
                                <img src="{{ url_for('static', filename='img/icone/user.png') }}" alt="Foto de perfil padrão" width="50">
                            </a>
                        {% endif %}
                
                        <div class="user-details">
                            {% if post.users_id == usuario_id %}
                                <p class="username"><a href="/inicio"> {{ post.username }}</a></p>
                            {% else %}
                                <p class="username"><a href="{{ url_for('info_user.info_user', id_usuario=post.users_id) }}">{{ post.username }}</a></p>
                            {% endif %}
                            <p class="post-date">{{post.data_postagem}}</p>
                        </div>
                    
                        <!-- MENU DE OPÇOES -->
                        <div class="dropdown-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class='bx bx-dots-vertical'></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
                                    {% if post.users_id == usuario_id %}
                                        <form method="post" action="/excluir_post_inicio/{{ post.id }}" class="form-excluir-post">
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <a href="#" class="dropdown-item btn-excluir-post"> <i class='bx bx-trash'></i> Excluir post</a>
                                        </form>
                                    {% endif %}

                                        <a class="dropdown-item" href="javascript:void(0);" onclick="compartilharPost('{{ post.id }}')"> <i class='bx bx-share-alt'></i> Compartilhar</a>
                            
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="abrirEnviarAoChatModal('{{ post.id }}')"> <i class='bx bx-send'></i> Enviar ao chat</a>

                                    {% if post.users_id != usuario_id %}
                                        <a class="dropdown-item seguir-btn" data-post-id="{{ post.id }}" data-user-id="{{ post.users_id }}" onclick="toggleSeguir(this)">
                                    {% if post.seguindo %}
                                        <i class='bx bx-user-minus'></i> Deixar de seguir
                                    {% else %}
                                        <i class='bx bx-user-plus'></i>  Seguir
                                    {% endif %}
                                        </a>
                                    {% endif %}

                                    {% if post.users_id != usuario_id %}
                                        <form id="bloquear-form-{{ post.users_id }}" method="post" action="{{ url_for('configuracao.bloquear_usuario_via_post') }}" style="display: none;">
                                            <input type="hidden" name="bloqueado_id" value="{{ post.users_id }}">
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                        </form>

                                        <a href="#" class="dropdown-item" onclick="bloquearUsuario('{{ post.users_id }}'); return false;">
                                            <i class='bx bx-block'></i> Bloquear
                                        </a>
                                    {% endif %}

                                        <a href="{% if post.users_id == usuario_id %}/inicio{% else %}{{ url_for('info_user.info_user', id_usuario=post.users_id) }}{% endif %}" class="dropdown-item">
                                            <i class='bx bx-user'></i> 
                                    {% if post.users_id != usuario_id %}
                                            Ver perfil
                                    {% else %}
                                            Meu perfil
                                    {% endif %}
                                        </a>

                                    {% if post.users_id != usuario_id %}
                                        <a class="dropdown-item"><i class='bx bx-error'></i> Denuciar</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- MODAL PARA COMPARTILHA POST PARA O CHAT -->
                        <div class="modal fade" id="enviarAoChatModal" tabindex="-1" role="dialog" aria-labelledby="enviarAoChatModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enviarAoChatModalLabel">Enviar post para...</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="pesquisaUsuarioChat" placeholder="Pesquisar usuários..." onkeyup="filtrarUsuariosChat()">
                                        </div>
                                        <div id="listaUsuariosChat">
                                        <!-- OS USUARIOS SERÃO CARREGADOS AQUI -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CONTEUDO DO POST -->
                        <p class="post-content">{{ post.conteudo | replace_mentions | replace_hashtags | safe }}</p>
                

                        <!-- CARROSEL DE FOTO E VIDEO -->
                        {% if post.imagem or post.video %}
                            <div class="carousel">
                                {% if post.imagem %}
                                    <div>
                                        <img src="{{ url_for('static', filename=post.imagem) }}" alt="Imagem do post" class="foto-post" style="cursor: pointer;">
                                    </div>
                                {% endif %}
                                {% if post.video %}
                                    <div>
                                        <video controls><source src="{{ url_for('static', filename=post.video) }}" type="video/mp4"></video>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        <!-- INTERACOES -->
                        <div class="interaction-container">
                            <!-- CURTIR -->
                            <div class="interaction-item">
                                <form id="like-form-{{ post.id }}" action="{{ url_for('curtir.curtir', post_id=post.id) }}" method="post">
                                    {% if post.curtido_pelo_usuario %}
                                        <img src="../static/img/icone/silhueta-de-formato-simples-de-coracao.png" alt="Descurtir" class="curtir-icon curtido" data-post-id="{{ post.id }}" id="curtir-icon-{{ post.id }}">
                                    {% else %}
                                        <img src="../static/img/icone/coracao-descurtido.png" alt="Curtir" class="curtir-icon" data-post-id="{{ post.id }}" id="curtir-icon-{{ post.id }}">
                                    {% endif %}
                                </form>
                                 {% if post.users_id == usuario_id or post.curtidas_publicas == 1 %}
                                <p id="curtidas-count-{{ post.id }}" class="count curtidas-lista-link curso-modal-curtida" data-post-id="{{ post.id }}">
                                    {{ post.curtidas }}
                                </p>
                                {% else %}
                                <p id="curtidas-count-{{ post.id }}" class="count" data-post-id="{{ post.id }}">
                                    {{ post.curtidas }}
                                </p>
                                {% endif %}

                            </div>

                            <!-- COMENTARIOS -->
                            <div class="interaction-item">
                                <span class="comment-icon" data-toggle="modal" data-target="#commentModal-{{ post.id }}">
                                    <img src="../static/img/icone/bater-papo.png" alt="comentario">
                                </span>
                                <p id="comment-count-{{ post.id }}" class="count">{{ post.comentarios_count }}</p>
                            </div>

                        </div>

                        <!-- MODAL DE COMENTARIO -->
                        <div class="modal fade modal-de-comentario" id="commentModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel-{{ post.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title modal-de-comentario-titulo" id="commentModalLabel-{{ post.id }}">Comentários</h5>
                                            <button type="button" class="btn-recarregar-comentarios" title="Recarregar comentários" onclick="recarregarComentarios('{{ post.id }}')">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                            <button type="button" class="close close-do-comentario" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="comentarios">
                                                {% if post.comentarios %}
                                                    {% for comentario in post.comentarios %}
                                                        <div class="comentario {% if comentario.parent_comment_id %}resposta-comentario respostas-ocultas{% endif %}" data-comentario-id="{{ comentario.id }}" data-post-id="{{ post.id }}">
                                                            <p>
                                                                {% if comentario.usuario_id == usuario_id %}
                                                                    <a href="/inicio" class="username-link">
                                                                {% if comentario.fotos_perfil %}
                                                                    <img src="{{ comentario.fotos_perfil }}" alt="{{ comentario.username }}'s foto" class="foto-perfil-comentario">
                                                                {% else %}
                                                                    <img src="../static/img/icone/user.png" alt="{{ comentario.username }}'s foto" class="foto-perfil-comentario">
                                                                {% endif %}
                                                                    <strong><b>{{ comentario.username }}</a>:</b></strong>
                                                                {% else %}
                                                                    <a href="{{ url_for('info_user.info_user', id_usuario=comentario.usuario_id) }}" class="username-link">
                                                                {% if comentario.fotos_perfil %}
                                                                    <img src="{{ comentario.fotos_perfil }}" alt="{{ comentario.username }}'s foto" class="foto-perfil-comentario">
                                                                {% else %}
                                                                    <img src="../static/img/icone/user.png" alt="{{ comentario.username }}'s foto" class="foto-perfil-comentario">
                                                                {% endif %}
                                                                    <strong><b>{{ comentario.username }}:</a></b></strong>
                                                                {% endif %}

                                                                {% if comentario.parent_comment_id %}
                                                                    <span class="resposta-para">resposta para 
                                                                    {% if comentario.parent_usuario_id == usuario_id %}
                                                                        <a href="/inicio" class="username-link">{{ comentario.parent_username }}</a>
                                                                    {% else %}
                                                                        <a href="{{ url_for('info_user.info_user', id_usuario=comentario.parent_usuario_id) }}" class="username-link">{{ comentario.parent_username }}</a>
                                                                    {% endif %}
                                                                    </span>
                                                                {% endif %}

                                                                <!-- MENU DE OPCOES -->
                                                                <div class="dropdown-container-comentario ">
                                                                    <div class="dropdown">
                                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class='bx bx-dots-vertical'></i>
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                            {% if comentario.usuario_id == usuario_id %}
                                                                                <form action="{{ url_for('apagarcommen.apagar_comentario', comentario_id=comentario.id) }}" method="POST" style="display:inline;">
                                                                                    <a href="#"  class="dropdown-item" data-comentario-id="{{ comentario.id }}" onclick="apagarComentario(this)"> <i class='bx bx-trash'></i> Excluir comentario</a>
                                                                                </form>
                                                                            {% endif %}

                                                                                    <a class="dropdown-item btn-compartilhar-comentario" data-post-id="{{ post.id }}" data-comentario-id="{{ comentario.id }}">
                                                                                        <i class='bx bx-share-alt'></i> Compartilhar
                                                                                    </a>
                                                                                    
                                                                               <a href="{% if post.users_id == usuario_id %}/inicio{% else %}{{ url_for('info_user.info_user', id_usuario=post.users_id) }}{% endif %}" class="dropdown-item">
                                                                            <i class='bx bx-user'></i> 
                                                                            {% if comentario.usuario_id != usuario_id %}
                                                                                Ver perfil
                                                                            {% else %}
                                                                                    Meu perfil
                                                                            {% endif %}
                                                                            </a>
                                                                        
                                                                        {% if comentario.usuario_id != usuario_id %}

                                                                            <a class="dropdown-item">
                                                                                <i class='bx bx-error'></i> Denunciar
                                                                            </a>
                                                                        {% endif %}

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <p class="conteudo-comentario">{{ comentario.comentario|replace_mentions|safe }}</p>
                                                                <p class="data-do-comentario" id="data-do-comentario">{{ comentario.data_comentario }}</p>
                                                            </p>
                             
                                                            {% if not comentario.parent_comment_id and comentario.respostas_count > 0 %}
                                                            <button class="btn-toggle-respostas" onclick="toggleRespostas(this)" data-comentario-id="{{ comentario.id }}">
                                                                <i class='bx bx-chevron-down'></i> Mostrar respostas 
                                                            </button>
                                                            {% endif %}


                                                            {% if post.comentarios_publicos == 1 or post.users_id == usuario_id %}
                                                                <button class="btn-resposta" onclick="mostrarFormResposta(this)">Responder</button>
                                                            {% else %}
                                                                <button class="btn-resposta" onclick="mostrarFormResposta(this)" style="display: none;">Responder</button>
                                                            {% endif %}

                                                            <div class="form-resposta">
                                                                <form class="form-resposta-comentario" onsubmit="submitReply(event, '{{ post.id }}', '{{ comentario.id }}')">
                                                                    <textarea name="comentario" placeholder="Digite sua resposta..." required rows="1" style="resize: vertical; overflow:auto;"></textarea>
                                                                        <button type="submit">
                                                                            <i class="fa fa-paper-plane"></i>
                                                                        </button>
                                                                        <button type="button" class="btn-cancelar-resposta" onclick="esconderFormResposta(this)">
                                                                            <i class="fa fa-times"></i>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            {% else %}
                                                                {% if post.comentarios_publicos == 1 or post.users_id == usuario_id %}
                                                                    <div class="texto-sem-comentario">
                                                                        <i class='bx bxs-comment-dots'></i>
                                                                        <p>Nenhum comentário ainda. Seja o primeiro a comentar!</p>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="texto-sem-comentario">
                                                                        <i class='bx bx-lock-alt'></i> 
                                                                        <P>Os comentários estão desativados para este post</P>
                                                                        <P>apenas o {{post.username}} pode comentar</P>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>

                                                        <div class="comment-input">
                                                            {% if post.comentarios_publicos == 1 or post.users_id == usuario_id %}
                                                                <form id="commentForm-{{ post.id }}" action="{{ url_for('comentar.comentar', post_id=post.id) }}" method="post" onsubmit="submitComment(event, '{{ post.id }}')">
                                                                    <textarea name="comentario" id="comentario-{{ post.id }}" required placeholder="Digite seu comentário..." rows="1" style="resize: vertical; overflow:auto;"></textarea>
                                                                    <button type="submit">
                                                                        <i class="fa fa-paper-plane"></i> 
                                                                    </button>
                                                                </form>
                                                            {% else %}
                                                                <div class="alert alert-info comentarios-desativados">
                                                                    <i class='bx bx-lock-alt'></i> Os comentários estão desativados para este post
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="no-results-wrapper">
                                    <div class="no-results-card">
                                        <i class='bx bx-meh'></i>
                                        <p class="no-results-message">Nenhum conteúdo disponível</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <!-- MODAL DE IMAGEM COMPLETA PARA POST -->
                        <div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                            <button type="button" class="close-modal-btn" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img id="modal-image" src="" alt="Imagem do post" class="imagem-completa-do-post" />
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="modal fade" id="curtidasUsuariosModal" tabindex="-1" role="dialog" aria-labelledby="curtidasUsuariosModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="curtidasUsuariosModalLabel">Curtidas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-2" id="search-curtidas-user" placeholder="Pesquisar usuário..." style="display:none;">
                <div id="curtidas-usuarios-lista"></div>
            </div>
            </div>
        </div>
        </div>

</main>
 
<!-- Scripts -->
<script src="../static/js/apagar-comentario.js"></script>
<script src="../static/js/post/pausar-video-post.js"></script>
<script src="../static/js/modal-nao-bugar.js"></script>
<script src="../static/js/compartilhar-post.js"></script>
<script src="../static/js/modal-foto-post.js"></script>
<script src="../static/js/comentar-post.js"></script>
<script src="../static/js/carrossel-post.js"></script>
<script src="../static/js/verificar-foto-video.js"></script>
<script src="../static/js/curtir-post.js"></script>   
<script src="../static/js/link-post.js">  </script>
<script src="../static/js/geral/menu_toggle.js"></script>
<script src="../static/js/barra_pesquisa_mob.js"></script>
<script src="../static/js/geral/enviar_post_para_chat.js"></script>
<script src="../static/js/geral/seguir_deixa_de_seguir.js"></script>
<script src="../static/js/geral/contador_novas_mensagens.js"></script>
<script src="../static/js/sweealert2/bloquear.js"></script>
<script src="../static/js/sweealert2/excluir_post.js"></script>
<script src="../static/js/geral/mencao-link.js"></script>
<script src="../static/js/geral/gerar_link_comentario.js"></script>
    <script src="../static/js/geral/contador_novas_notificacoes.js"></script>
    <script src="../static/js/notificacao/notificacao.js"></script> 
      <script src="../static/js/sweealert2/log_out.js"></script>
<script src="../static/js/geral/modal_post_curtido.js"></script>
<script src="../static/js/post/vizualizacao.js"></script>
<script src="../static/js/geral/hashtag.js"></script>
<!-- jQuery primeiro -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Popper.js (necessário para Bootstrap 4) -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<!-- Slick Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!-- Bootstrap JS  -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
 