<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Recuperar senha - Sirius</title>
    <!-- ICONES -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/logo/logo_sirius.png">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- ESTILO DA PAGINA -->
    <link rel="stylesheet" href="../static/css/style1.css" />
    <style>
    .input-group i {
        top: 50% !important;
    }
    </style>
</head>
<body>

    <div class="confirma-conta recuperar-senha"> 
        <h2>Recuperar senha</h2>
        <p>Digite e confirme sua nova senha</p>
        <form method="post" action="{{ url_for('recuperar_senha.recuperar_senha_part3') }}" id="formRecuperarSenha">
           
            <div class="input-group">
                <i class='bx bx-lock'></i>
                <input type="password" id="senha" name="nova_senha" placeholder="Digite a nova senha" required />
                <div class="error-message" id="senha-error" style="display: none;"></div>
            </div>

            <div class="input-group">
                <i class='bx bx-lock'></i>
                <input type="password" id="confirmar_senha" name="confirmar_senha" placeholder="Confirme a nova senha" required />
                <div class="error-message" id="confirmar-error" style="display: none;"></div>
            </div>

            <button type="submit">Alterar senha</button>
        </form>

        <div class="links">

            <!-- PARA PODER VOLTAR AO LOGIN -->
            <p>Se lembrou da senha? <a href="/">Entrar agora</a></p>
        </div>
    </div>

    <!-- SCRIPT -->
    <script src="../static/js/recuperacao_senha/recuperar_senha_nao_logado_3.js"></script>

</body>
</html>